apiVersion: v1
kind: Service
metadata:
  name: orchestrator-service
  labels:
    app: orchestrator-service
spec:
  selector:
    app: orchestrator-service
  ports:
  - protocol: TCP
    port: 8082
    targetPort: 8082
  type: ClusterIP
